:root {
    --bg-start: #1e2a3a;
    --bg-end: #2d3250;
    --glass-bg: rgba(255, 255, 255, 0.12);
    --glass-border: rgba(255, 255, 255, 0.2);
    --bs-primary: #6c9bd1;
    --bs-success: #05ff7e;
    --bs-danger: #d00000;
    --text-light: #f0f2f5;
    --text-muted: #dededf;

}


body{
    margin: 0px;
    padding: 0px;
    background-color: var(--bg-start);
}

.title{
    font-family: "Elms Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}


.glass-card{
    background-color: var(--glass-bg);
    backdrop-filter: blur(12px);
    border-radius: 17px;
    background-image: linear-gradient(to right, rgba(60, 0, 255, 0.676), rgba(238, 10, 166, 0.497),rgba(208, 238, 10, 0.497) );
}

.glass-boxes{
    background-color: var(--glass-bg);
    backdrop-filter: blur(12px);
    border-radius: 17px;
}


.title-boxes{
    font-family: "Elms Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    color: var(--text-muted);
}

.summary-nums{
    font-family: "Elms Sans", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: var(--text-light);
    font-size: 2rem;

}
.success{
    color: var(--bs-success);
}

.danger{
    color: var(--bs-danger);
 
}

.btn{
    background-color: var(--glass-bg);
    color: var(--text-light);

}

#transactions-holder{
     background-color: var(--glass-bg);
}